# Byte-compiled / optimized
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
env/

# IDE files
.vscode/
.idea/

# Logs and databases
*.log
*.sqlite3

# OS files
.DS_Store
Thumbs.db

# Scratch files
scratch1.py
scratch2.py
scratch3.py
hold_code.py
backups/


choosey-463422-firebase-adminsdk.json
pickybook-firebase-adminsdk-fbsvc-a4c8869ee0.json
pickybook-key.json
app.yaml

.env
.gitignore